<div class="container">
  <h1>Formulario de Registro</h1>
  <hr />
  <div class="alert-overlay" *ngIf="alertMessage">
    <div class="alert-modal" [ngClass]="{'success': alertType === 'success', 'error': alertType === 'error'}">
      {{ alertMessage }}
    </div>
  </div>
  <form [formGroup]="productDataForm"
  (ngSubmit)="onSubmit()">
    <div class="row-input">
      <shared-input 
        [control]="getFormControl('id')" 
        inputLabel='ID'
        placeholder='Identificador'/>
      <shared-input 
        [control]="getFormControl('name')" 
        inputLabel='Nombre'
        placeholder='Tarjeta de Crédito'/>
    </div>
    <div class="row-input">
      <shared-input 
        [control]="getFormControl('description')" 
        inputLabel='Descripción'
        placeholder='Descripción de la tarjeta'/>
      <shared-input 
        [control]="getFormControl('logo')" 
        inputLabel='Logo'
        placeholder='Logo de la tarjeta'/>
    </div>
    <div class="row-input">
      <shared-input 
        [control]="getFormControl('date_release')" 
        inputLabel='Fecha Liberación'
        placeholder='DD/MM/YYYY'/>
      <shared-input
        [control]="getFormControl('date_revision')"
        inputLabel='Fecha Revisión'
        placeholder='DD/MM/YYYY'
        [disabled]="true"/>
    </div>
    <div class="buttons">
      <button class="btn primary" (click)="resetFormData()" type="reset">Reiniciar</button>
      <button class="btn secondary" type="submit">Reenviar</button>
    </div>
  </form>
</div>
